.page {
    max-width: 880px;
    background-color: #000;
    margin: 0 auto;
    color: #fff;
}

.header {
    border-bottom: 1px solid #545454;
    margin: 45px 0 40px;
}

.header__logo {
    max-width: 142px;
    margin: 0 0 41px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 50px;
}

.profile__avatar {
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

.profile__container {
    display: flex;
    align-items: center;
}

.profile__container_top {
    display: flex;
    align-items: center;
}

.profile__info {
    display: flex;
    flex-direction: column;
}

.profile__info-title {
    font-family: "Inter";
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    margin: 0 18px 16px 0;
    padding: 0;
}

.profile__info-edit-button {
    background-image: url(./images/Edit_Button.svg);
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 0 16px 0;
    border: 0;
    cursor: pointer;
    transition: background-image .2s linear;
}

.profile__info-edit-button:hover {
    background-image: url(./images/Edit_Button_hover.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
}

.profile__info-subtitle {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding: 0;
    margin: 0;
}

.profile__add-button {
    background-image: url(./images/Add_Button.svg);
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: 0;
    transition: background-image .2s linear;
}

.profile__add-button:hover {
    background-image: url(./images/Add_Button_hover.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
}

.elements {
    display: grid;
    grid-template-columns: repeat(3, 282px);
    gap: 20px 17px;
    max-width: 282px;
    margin: 0 0 66px;
}

.element {
    background-color: #fff;
    border-radius: 15px;
}

.element__image {
    max-width: 282px;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
}

.element__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 246px;
    margin: 30px 20px;
}

.element__text {
    display: flex;
    justify-content: space-between;
    max-width: calc(246px - 22px);
    font-family: "Inter";
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.element__like {
    width: 22px;
    height: 19px;
    background-image: url(./images/Like.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    transition: background-image .2s linear;
    cursor: pointer;
}

.element__like:hover {
    background-image: url(./images/like_hover.svg);
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 22px;
    height: 19px;
}

.element__like_active {
    background-image: url(./images/like_active.svg);
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 22px;
    height: 19px;
}

.footer {
    margin: 0 0 60px;
}

.footer__copyright {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    color: #545454;
}

.edit-form {
    display: none;
}

.edit-form_opened {
    position: fixed;
    z-index: 1;
    top: 195px;
    right: 61vw;
}

.edit-form__close-icon {
    position: absolute;
    display: flex;
    background-image: url(./images/Close_Icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    border: 0;
    left: 438px;
    cursor: pointer;
    transition: background-image .2s linear;
}

.edit-form__close-icon:hover {
    background-image: url(./images/Close_Icon_hover.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
}

.popup-container {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 430px;
    min-height: 330px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 15px;
}

.popup-container__title {
    font-family: "Inter";
    font-size: 24px;
    font-weight: 900;
    color: #000;
    padding: 0;
    margin: 34px auto 54px;
}

.popup-container__name {
    min-width: 358px;
    font-family: "Inter";
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #000;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 9px;
    margin: 0 36px 30px;
}

.popup-container__job {
    min-width: 358px;
    font-family: "Inter";
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #000;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 9px;
    margin: 0 36px 48px;
}

.popup-container__button {
    min-width: 358px;
    min-height: 50px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    border: 0;
    padding: 0;
    margin: 0 auto 37px;
    cursor: pointer;
    transition: opacity .2s linear;
}

.popup-container__button:hover {
    opacity: 0.8;
    cursor: pointer;
}