.popup__container {
    position: relative;
    display: flex;
    min-width: 430px;
    max-height: 330px;
}

@media screen and (max-width: 649px) {
    .popup__container {
        flex-direction: column-reverse;
        min-width: 282px;
        min-height: 322px;
    }
}