.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 50px;
}

@media screen and (max-width: 649px) {
    .profile {
        min-width: 282px;
        flex-direction: column;
    }
}