.edif-form__container {
    position: relative;
    min-width: 470px;
    top: -35vh;
}

@media screen and (max-width: 649px) {
    .edif-form__container {
        min-width: 282px;
        display: flex;
        flex-direction: column;
    }
}