.profile__add-button-plus {
    min-width: 22px;
    min-height: 22px;
}

@media screen and (max-width: 649px) {
    .profile__add-button-plus {
        min-width: 16px;
        min-height: 16px;
    }
}